JWT_ISSUER=https://localhost:8081
JWT_AUDIENCE=https://localhost:8081
JWT_SECRET=YOUR_SECRET_KEY
CORS_ORIGINS=http://localhost:5173
SA_PASSWORD=YOUR_STRONG_PASSWORD
DB_HOST=sqlserver
DB_PORT=1437
DB_NAME=MyVetMVCDB
DB_USER=sa
DB_USER_PASSWORD=YOUR_STRONG_PASSWORD
ASPNETCORE_ENVIRONMENT=Development
APP_PORT=8081


